.members ul li {
    font-family: 'Pacifico', cursive; /* Ganti font di sini */
    font-size: 1.5rem; /* Anda bisa menyesuaikan ukuran font */
    padding: 0.5rem 1rem;
    background: #ffdde1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk menghilangkan warna dari tautan */
.members a {
    color: inherit; /* Warna tautan mengikuti warna teks di sekitarnya */
    text-decoration: none; /* Menghapus garis bawah */
}

.members a:hover {
    text-decoration: underline; /* Menambahkan garis bawah saat hover (opsional) */
}